<h3 xmlns="">User Listing</h3>
<table class="ul-table">
  <tr>
    <td width="50px" class="h5">#</td>
    <td class="h5">First Name</td>
    <td class="h5">Last Name</td>
    <td class="h5">Office</td>
    <td class="h5">Actions</td>
  </tr>
</table>
<table class="table table-sm table-hover ul-table">
  <tr *ngIf="userListArray.length ==0">
    <td class="text-center">No content</td>
  </tr>
  <tr class="ul-table" *ngFor="let user of userListArray index as index">
    <td width="50px"><strong>{{index+1}}</strong></td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.office}}</td>
    <td width="25px">
      <a class="btn" (click)="updateUser(user)">
        <i class="fa fa-edit fa-1x"></i>
      </a>
    </td>
    <td width="25px">
      <a class="btn text-danger" (click)="deleteUser(user.$key)">
        <i class="fa fa-trash fa-1x"></i>
      </a>
    </td>
  </tr>
</table>

